<div class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">
  <div class="header">
    <div class="left" style="cursor: pointer" (click)="getRoute('/home')">Habit Tracker</div>
    <div class="right">
      <button (click)="getRoute('/home')">Home</button>
      <button (click)="getRoute('/calender')">Calendar</button>
      <button (click)="getRoute('/todo')">Todo</button>
      <button (click)="getRoute('/upload')">Upload</button>
      <button (click)="getRoute('/login')">Login</button>
    </div>
  </div>
</div>


